.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 4px;
  padding: 0.8rem;
  border: none;
  &__color_white {
    background-color: $secondColor;
    color: $primaryColor;
    font-size: 1.3vw;
    padding: 0.2rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1.4rem;
    .css-i4bv87-MuiSvgIcon-root {
      margin-right: 0.5rem;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.75);
      transition: 0.3s all;
      color: inherit;
    }
  }
  &__color_grey {
    background-color: rgba(109, 109, 110, 0.7);
    color: $secondColor;
    font-size: 1.3vw;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1.4rem;
    .css-i4bv87-MuiSvgIcon-root {
      margin-right: 0.5rem;
    }
  }
  &__color_red {
    background-color: $redColor;
    color: $secondColor;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 17px;
    width: 100%;
  }
}
