.genre {
  padding-top: 6%;
  margin-left: 45px;
  padding-bottom: 85px;
  &__title {
    font-size: 22px;
    color: $secondColor;
  }
  &__btn {
    border: 1px solid $secondColor;
    color: $secondColor;
    margin-left: 20px;
    padding: 4px;
  }
  &__content {
    color: $secondColor;
    border: 2px solid grey;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .genre__lists {
      .genre__list {
        text-decoration: none;
      }
    }
  }
}
