.form {
  max-width: 100%;
  &__input__login {
    padding: 10px 5px;
    border-radius: 4px;
    margin-bottom: 24px;
    width: 100%;
    height: 50px;
    border: none;
  }
  // &__input__register {
  //   //padding: 0px 35px;
  //   // width: 150%;
  //   height: 50px;
  // }
  &__input__search {
    border: 2px solid $secondColor;
    background-color: $primaryColor;
    color: $secondColor;
    width: 250px;
    //height: 30px;
    padding: 6px;
  }
}
