.overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  background: #00000063;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  //width: 58%;
  border-radius: 4px;
  padding: 60px 68px 40px;
  &__content {
    //padding: 2rem;
  }
}
