.row {
  padding: 1rem 3.75%;
  &__content {
    .row__title {
      color: $secondColor;
      font-size: 1.4vw;
    }
    .row__pictures {
      display: flex;
      align-items: center;
      width: 100%;
    }
    .row__image {
      width: 225px;
      padding: 0.3rem;
      border-radius: 12px;
      transition: transform 0.3s ease-in;
      &:hover {
        cursor: pointer;
        transform: scale(1.3);
      }
    }
  }
}
