.search {
  padding-top: 85px;
  margin-left: 45px;
  padding-bottom: 85px;
  &__content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    .search__pictures {
      padding: 0.2rem;
      margin: 0px 0px 25px -5px;
    }
  }
}
